@function convert($n)
  @return ($n / 50) + rem
@mixin allSize-PX($width: 100%, $height: auto)
  .activity
    width: 100%
    height: 100%
    // overflow: auto
    
@include allSize-PX(100%, auto)
@media screen and (min-width: 768px)
  @include allSize-PX(100%, auto)
@media screen and (min-height: 800px) and (max-width: 700px)
  @include allSize-PX(auto, 100%)

.activity
  position: relative
  img
    width: 100%
    height: auto
  .con
    width: convert(350)
    height: convert(460)
    background: url('client/assets/activity-con2.png') 0px convert(20) / 100% auto no-repeat
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    top: convert(110)
  .activity-desc
    position: absolute
    top: convert(190)
    left: 0
    right: 0
    width: convert(275)
    font-size: convert(14)
    margin: 0 auto
    padding: 0 convert(12)
    line-height: convert(24)
    box-sizing: border-box
    color: #666
  .form-card
    margin: convert(282) auto 0
    width: convert(270)
    .item
      border-bottom: none
      line-height: convert(49)
      input
        color: #f2292d
        height: convert(38)
        padding-left: convert(10)
        font-size: convert(14)
        background: #ffd7d7
        border-radius: 5px
        &::-webkit-input-placeholder
          color: #f2292d
          font-size: convert(14)
  .btn
    margin: convert(10) auto 0
    width: convert(270)
    height: convert(45)
    background: url('client/assets/activity-btn2.png') center / 100% 100% no-repeat
    text-align: center
    line-height: convert(45)
    color: #fff
    font-size: convert(14)