@mixin allSize-PX($width: 100%, $height: auto)
  .activity
    width: 100%
    height: 100%
    overflow: auto
    // background: url('client/assets/activity-bg.png') center 0 + / $width $height no-repeat
    
@include allSize-PX(100%, auto)
@media screen and (min-width: 768px)
  @include allSize-PX(100%, auto)
@media screen and (min-height: 800px) and (max-width: 700px)
  @include allSize-PX(auto, 100%)

.activity
  position: relative
  img
    width: 100%
    height: auto
  .con
    width: 350px
    height: 460px
    background: url('client/assets/activity-con2.png') 0px 20px / 100% auto no-repeat
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    top: 110px
    @media screen and (max-width: 321px)
      width: 300px
      height: 400px
      .form-card
        margin: 242px auto 0
        width: 190px
        .item
          line-height: 38px
          input
            height: 38px
      .btn
        width: 200px
        height: 44px
        font-size: 16px
        line-height: 40px
  .form-card
    margin: 282px auto 0
    width: 270px
    .item
      border-bottom: none
      line-height: 38px
      background: #ffd7d7
      border-radius: 5px
      input
        color: #f2292d
        height: 38px
        padding-left: 10px
        &::-webkit-input-placeholder
          color: #f2292d
          font-size: 14px
  .btn
    margin: 10px auto 0
    width: 270px
    height: 45px
    background: url('client/assets/activity-btn2.png') center / 100% 100% no-repeat
    text-align: center
    line-height: 45px
    color: #fff
    font-size: 14px