.container
  padding: 0 15px
  background: url('client/assets/label_yangshi@3x.png') no-repeat
  background-size: 55.5px 96px
  background-position-x: right
  background-position-y: 14px
  .top
    padding: 14px 0 30px
    img
      width: 77px
      height: 27px
  .profile
    overflow: hidden
    margin-bottom: 44.4px
    .avatar
      float: left
      width: 65px
      height: 65px
      margin-left: 11px
      background: url('client/assets/label_toux@3x.png') 0 0 / 100% 100% no-repeat
    .profile-right
      margin-top: 10px
      float: left
      margin-left: 21px
      .qr-code
        width: 16px
        height: 16px
        cursor: pointer