{
  "plugins": [
    [
      "import",
      { "libraryName": "antd-mobile", "style": "css" },
      "ant-mobile"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false,  // default: true
      },
      "loadsh"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console"]
      ]
    },
    "svt": {
      "plugins": [
        ["transform-remove-console"]
      ]
    }
  }
}