.container
  background: rgb(221, 236, 252)
  height: 100%
  overflow: auto
.registry
  background: url('client/assets/label_bge@3x.png') 0 0 / 100% auto no-repeat
  position: relative
  .logo
    position: relative
    background: url('client/assets/label_logo@3x.png') 0 0 / 50px 18.1px no-repeat
    height: 18.1px
    top: 20px
    margin-left: 15px
  .title
    position: relative
    background: url('client/assets/label_wenzi@3x.png') center center / 272px auto no-repeat
    height: 60px
    top: 30px
  .card
    position: relative
    background: #FFFFFF
    top: 100px
    padding: 15px 15px 15px
    border-radius: 4px
    margin: 0px 15px 120px
    .title
      position: absolute
      width: 162px
      height: 40px
      top: -20px
      left: 0
      right: 0
      margin: 0 auto
      background-image: linear-gradient(-269deg, #F37724 0%, #F99B18 98%)
      border-radius: 4px
      font-family: PingFangSC-Medium
      font-size: 18px
      color: #FFFFFF
      letter-spacing: 4px
      line-height: 40px
      text-align: center
    .show-password
      width: 16px
      height: 8px
    .count-down
      color: #666
.validate-code
  color: #2D8EFF
.registry-success
  background: url('client/assets/label_zucecg@3x.png') 0 0 / 100% auto no-repeat
  height: 100%
  position: relative
  .card-success
    position: absolute
    background: #FFFFFF
    top: 210px
    left: 15px
    right: 15px
    padding: 15px
    border-radius: 4px
    box-shadow: 0 2px 8px 0 rgba(51,51,51,0.20)
    margin-bottom: 120px
    .title
      position: absolute
      top: -32px
      left: 0
      right: 0
      margin: 0 auto
      font-family: PingFangSC-Medium
      font-size: 20px
      color: #FFFFFF
      text-align: center
    .tips
      font-family: PingFangSC-Regular
      font-size: 13px
      color: #666666
    .tips-title
      border-left: 3px solid #2D8EFF
      padding-left: 12px
      font-family: PingFangSC-Medium
      font-size: 15px
      color: #333333
    .item
      height: 24px
      font-family: PingFangSC-Regular
      font-size: 12px
      color: #2A2A2A
      line-height: 24px
    .down
      font-family: PingFangSC-Regular
      font-size: 10px
      color: #FF604C
      letter-spacing: 0.18px
      line-height: 24px
    .down-img
      width: 12px
      height: 10px
      margin-left: 5px
      margin-right: 3px
    .or-code
      width: 120px
      height: 120px